/* app/components/SubmitButton.module.css */
.button {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
}

.button:hover:not(:disabled) {
    background-color: #005bb5;
}

.positive {
    background-color: #48bb78;
}
.positive:hover:not(:disabled) {
     background-color: #38a169;
}

.admin {
     background-color: #805ad5;
}
 .admin:hover:not(:disabled) {
     background-color: #6b46c1;
}